<div class="collectives">
  <% index = 0 %>
  <% collectives.each do |collective| %>
    <section style="background: url(<%=collective.image%>); background-size:cover;" class="collective ontold-hero">
      <% if index.zero? %>
        <p class="ontold-new-badge"> NEW ISSUE </p>
      <% else %>
        <p class="ontold-badge"> ISSUE <%= collective.issue_number %> </p>
      <% end %>
      <% index+=1 %>
      <p class="ontold-title"> <%= link_to collective.name, collective_path(collective) %></a></p>
      <p class="ontold-date"><%= collective.date_ts %> </p>
    </section>
  <% end %>
</div>
