<br><br><br><br>
<section style=" background:url(/img/DSC09553.JPG);box-shadow:inset 0 0 0 1000px rgba(0,0,0,.92); height:1000px;; background-size:cover">
  <h2 class="col-10-fixed reason">
    <p><img src="/assets/img/logo.svg"></p>
    <span style="padding-left:0; font-size:0.9em" class="bandara-lg">Discover the best of African creativity on ontold, curated by a community of creatives with great taste.
    </span>
  </h2>
    <p style="padding-right:1em;" class="col-9-fixed">
      <span class="finds"> We are small community of African creatives curating the best of African content on & off the web. Our community consists of creatives from all fields from photographers to web and software developers to make-up artiste. Read, share and be inspired.
      </span>
    </p>
  <p class="col-9-fixed" style="text-align:left">
  <button id="payges-error-button">
    <span class="ion-social-twitter-outline"></span> Shout us out!</button>
  </p>
</section>
