<br><br><br><br>
<section style=" background:url(img/DSC09553.JPG);box-shadow:inset 0 0 0 1000px rgba(0,0,0,.92); height:1000px;; background-size:cover">
  <h2 class="col-10-fixed reason">
    <p><img src="/assets/img/logop.svg"></p>
    <span style="padding-left:0; font-size:0.9em" class="bandara-lg">We can't wait to hear from you!</span>
  </h2>
  <p style="padding-right:1em;" class="col-9-fixed">
    <span class="finds">
      You can contact us for enquiries or just to say hi by shooting us a mail via
      <span>
        <a class="bandera-link" href="#">hi@ontold.com</a>
      </span> or interact with on on twitter via
      <span><a class="bandera-link" href="#">@theontold</a></span>
      . We will be sure to get back to you as soon as we can!
    </span>
  </section>
