<div class="top-mast">
  <section class="payges-black-bg">
    <p class="ontold-hello">
      <span style="margin-top:0.8em;">Ontold is Africa, curated.</span>
      <span style="margin-left:0.4em;">
        <a href="/about">
           <button class="payges-button-sm"> Learn more</button>
        </a>
      </span>
    </p>
  </section>
</div>
<%= render partial: 'collectives', locals: { collectives: @collectives } %>
