<br><br>
<section style="background: url(<%= @collective.image.url(:original) %>); background-size:cover;" class="ontold-hero">
	<p class="ontold-badge">
		ISSUE <%= @collective.issue_number %>
	</p>
	<p class="ontold-title"> <a href="#"><%= @collective.name %></a>
	</p>
	<p class="ontold-date"> <%= @collective.date_ts %> &middot;
		<span class="finds"><%= pluralize(@collective.shares, "Share") %></span> &middot;
		<span class="finds"><%= pluralize(@collective.views, "View") %></span>
  </p>
	<p style="text-align:center; margin-top:1em;">
		 <button class="md-trigger payges-button-trans" data-modal="modal-1">
			 Share
			 <span class="mdi-share"></span>
		 </button>
	 </p>
</section>
<%= render partial: '/partials/stories', locals: { stories: @collective.stories } %>

<div class="md-modal md-effect-16" id="modal-1">
	<div  style="text-align:center" class="md-content">
		<p class="folol"> Thanks for sharing!</p>
		<p class="social-sec">
			<a class="mdi-twitter socialsm-white-large"  href="<%= collective_tweet_path(@collective) %>" target="_blank"></a>
			<a class="mdi-facebook socialsm-white-large-last" href="<%= collective_share_path(@collective) %>" target="_blank"></a>
		</p>
		<div>
			<p></p>
			<button style="color:#fff; font-size:1.3em;" class="md-close">
				<span class="ion-ios-close-outline"></span>
			</button>
		</div>
	</div>
</div>
