<% if @story.errors.any? %>
  <section id="errors" >
    <h5> <%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved: </h5>
    <ul>
      <% @story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>
<%= form_for [:admin, @collective, @story], html: { multipart: true } do |f| %>
<div class="row">
  <div class="six columns">
    <%= f.label :title %>
    <%= f.text_field :title, class: "u-full-width" %>
    <%= f.label :url %>
    <%= f.text_field :url, class: "u-full-width"%>
    <%= f.label :description %>
    <%= f.text_area :description, class: "u-full-width"%>
    <%= f.label :image %>
    <%= f.file_field :image, class:"file-link"%><br>
    <%= f.submit %>
  </div>
</div>
<% end %>
