<h5><%= @story.title %></h5>

<h6><strong>URL: &nbsp;&nbsp;</strong><%= @story.url %></h6>
<h6><strong>DESC: &nbsp;&nbsp;</strong><%= @story.description %></h6>
<h6><strong>COLLECTIVE: &nbsp;&nbsp;</strong><%= @collective.name %></h6>
<% if can? :update, @collective %>
  <%= link_to 'Edit', edit_admin_collective_story_path(@collective, @story), class: "button action" %>
<% end %>
<% if can? :destroy, @collective %>
  <%= link_to 'Delete', [:admin, @collective, @story], method: :delete, class: "button action" %>
<% end %>
