<div id="grid-gallery" class="grid-gallery">
<section class="grid-wrap">
	<ul class="grid">
	<li class="grid-sizer"></li>
  <% stories.each do |story| %>
  <li>
		<figure class="fade-in one">
			<a href="<%= story_path(story) %>"><%= image_tag story.image.url(:medium) %></a>
			<figcaption >
				<h1 class="headliner">
					<%= link_to story.title, story_path(story) %>
				<h1>
				<h3>
					<%= link_to story.description, story_path(story) %>
				</h3>
				<div><br>
				 <span>
					 <button title="Share on Facebook" class="purplesm">
						 <a href="<%= story_share_path(story) %>" target="_blank"><span class="mdi-facebook"></span></a>
					 </button>
					 <button title="Share on Twitter" class="purplesm">
						 <a href="<%= story_tweet_path(story) %>" target="_blank"><span class="mdi-twitter"></span></a>
					 </button>
				 </span>
				 <p class="views">
					 <p class="curate">Curated by</p>
					  <p>
							<a href="<%= show_user_path(story.user) %>">
								<span class="tooltip" data-tooltip="<%= story.user %>">
                  <%= image_tag story.user.avatar.url(:thumb), class: "ontold-avatar-first"%>
								</span>
              </a>
						</p>
						</p>
					</div>
				</figcaption>
			</figure>
		</li>
    <% end %>
	</ul>
</section>
<section class="slideshow">
	<ul></ul>
</section>
</div>
<div class="md-overlay"></div><!-- the overlay element -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/assets/js/classie.js"></script>

<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="/assets/js/masonry.pkgd.min.js"></script>
<script src="/assets/js/cbpGridGallery.js"></script>
<script>
	new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
</script>
