<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <div class="row">
    <div class="six columns">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class:"u-full-width" %>
    </div>
  </div>
  <br />

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
