<br><br><br>
<section style=" background:url(<%= @user.avatar.url(:original) %>);box-shadow:inset 0 0 0 1000px rgba(0,0,0,.6); height:450px; background-size:cover">
  <h2 class="col-10-fixed reason">
    <span class="payges-name-telefon"><%= @user.full_name %></span>
    <span class="ion-checkmark-circled verified"></span>
  </h2>
  <p class="col-9-fixed">
    <span><%= @user.occupation %></span>
  </p>
  <p class="col-9-fixed">
    <span class="finds"><%= pluralize(@user.finds, "Find") %></span> &middot;
    <span class="finds"><%= pluralize(@user.shares, "Share") %></span> &middot;
    <span class="finds"><%= pluralize(@user.views, "View") %></span>
  </p>
  <p class="col-9-fixed">
    <% @user.social_links.each do |account| %>
      <a class="mdi-<%= account.account_type %> socialsm-white"  href="<%= account.url %>"></a>
    <% end %>
  </p>
  <p class="col-9-fixed">
    <span class="website">
      <span class="ion-android-globe">
        <%= link_to @user.website_to_s, @user.website %>
      </span>
    </span>
  </p>
  <p class="col-9-fixed">
    <button class="md-trigger payges-button-trans" data-modal="modal-1">Share
      <span class="mdi-share"></span>
    </button>
  </p>
</section>
<%= render partial: '/partials/stories', locals: { stories: @user.stories } %>

<div class="md-modal md-effect-16" id="modal-1">
	<div  style="text-align:center" class="md-content">
		<p class="folol"> Thanks for sharing!</p>
		<p class="social-sec">
			<a class="mdi-twitter socialsm-white-large"  href="<%= user_tweet_path(@user) %>" target="_blank"></a>
			<a class="mdi-facebook socialsm-white-large-last" href="<%= user_share_path(@user) %>" target="_blank"></a>
		</p>
		<div>
			<p></p>
			<button style="color:#fff; font-size:1.3em;" class="md-close">
				<span class="ion-ios-close-outline"></span>
			</button>
		</div>
	</div>
</div>
