<%= form_for [:admin, @collective], html: { multipart: true }  do |f| %>
  <div class="row">
    <div class="six columns">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'u-full-width' %>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <%= f.label :issue_number %>
      <%= f.text_field :issue_number, class: 'u-full-width' %>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <%= f.label :date %>
      <%= f.date_field :date, class: 'u-full-width' %>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
</div>
  <%= f.submit %>
<% end %>
