<div class="row sub-head">
  <h5>Collectives</h5>
  <% if can? :create, @collective %>
    <%= link_to 'Add a collective', new_admin_collective_path, class: "button" %>
  <% end %>
</div>
<% if @collectives.any? %>
  <table class="u-full-width">
    <thead>
      <th>NAME</th>
      <th>ISSUE NUMBER</th>
      <th>DATE</th>    
      <th>ACTIONS</th>
    </thead>
    <tbody>
    <% @collectives.each do |collective| %>
      <tr>
        <td>
          <%= collective.name %>
        </td>
        <td>
          <%= collective.issue_number %>
        </td>
        <td>
          <%= collective.date %>
        </td>
        <td>
          <%= link_to 'View', admin_collective_path(collective), class: "button button-primary action"%>
          <% if can? :update, collective %>
            <%= link_to 'Edit', edit_admin_collective_path(collective), class: "button button-primary orange action" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
<% else %>
  No collectives yet
<% end %>
