<h5><strong>TITLE: &nbsp;&nbsp;</strong><%= @collective.name %></h5>
<h6><strong>ISSUE NUMBER: &nbsp;&nbsp;</strong><%= @collective.issue_number %></h6>
<h6><strong>DATE: &nbsp;&nbsp;</strong><%= @collective.date %></h6>
<% if can? :update, @collective %>
  <%= link_to 'Edit', edit_admin_collective_path(@collective), class: "button action" %>
  <% if @collective.published %>
    <%= link_to "unpublish", collective_unpublish_path(@collective), class: "button action" %>
  <% else %>
    <%= link_to "publish", collective_publish_path(@collective), class: "button action" %>
  <% end %>
<% end %>
<% if can? :destroy, @collective %>
  <%= link_to 'Delete', admin_collective_path(@collective), method: :delete, class: "button action"%>
<% end %>
<br>
<br>
<div class="row sub-head">
  <h5>Stories</h5>
    <%= link_to 'Add Story', new_admin_collective_story_path(@collective), class: "button" %>
</div>
<table class="u-full-width">
  <thead>
    <th>NAME</th>
    <th>ACTIONS</th>
  </thead>
  <tbody>
    <% @collective.stories.each do |story| %>
    <tr>
      <td>
        <%= story.title %>
      </td>
      <td class="actions">
        <%= link_to "View", admin_collective_story_path(@collective, story), class: "button button-primary action" %>
        <% if can? :update, story %>
          <%= link_to "Edit", edit_admin_collective_story_path(@collective, story), class: "button button-primary orange action" %>
        <% end %>
        <% if can? :destroy, story %>
          <%= link_to "Delete", admin_collective_story_path(@collective, story), method: :delete, class: "button button-primary red action" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
