<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="six columns">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class:"u-full-width"%>
    </div>
  </div>
  <div class="row">
    <div class="five columns">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", class:"u-full-width" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me, class: "remember-me" %> <%= f.label :remember_me %>
    </div>
  <% end -%>
  <br />
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
