<% if @social_link.errors.any? %>
  <section id="errors" >
    <h5> <%= pluralize(@social_link.errors.count, "error") %> prohibited this story from being saved: </h5>
    <ul>
      <% @social_link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>
<%= form_for [:admin, @social_link], html: { multipart: true } do |f| %>
  <div class="row">
    <div class="six columns">
      <%= f.label :url %>
      <%= f.text_field :url, class: "u-full-width" %>
      <div class="six columns">
      </div>
    </div>

    <div class="six columns">
      <%= f.label :account_type %>
      <select class="u-full-width" name="social_link[account_type]" id="social_link_account_type">
        <option value="facebook">Facebook</option>
        <option value="twitter">Twitter</option>
        <option value="instagram">Instagram</option>
        <option value="pinterest">Pinterest</option>
        <option value="tumblr">Tumblr</option>
      </select>
    </div>
    <%= f.submit %>
    </div>
  </div>
<% end %>
