<%= form_for [:admin, @registration] do |f| %>
  <%= f.label :full_name %>
  <%= f.text_field :full_name %>
  <%= f.label :occupation %>
  <%= f.text_field :occupation %>
  <%= f.label :website %>
  <%= f.text_field :website %>
  <%= f.label :avatar %>
  <%= f.file_field :avatar %><br>
  <%= f.submit 'Update account'%>
<% end %>
