<div class="row sub-head">
  <h5>Users</h5>
  <% if can? :create, User %>
    <%= link_to 'Add a currator', new_user_registration_path, class: "button" %>
  <% end %>
</div>

<% if @users.any? %>
  <table class="u-full-width">
    <thead>
      <th>FULL NAME</th>
      <th>EMAIL ADDRESS</th>
      <th>STORIES</th>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.full_name %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.stories.count %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
<% else %>
  No Currators yet
<% end %>
