<h5>Create User</h5>
<% if @user.errors.any? %>
  <section id="errors" >
    <h5> <%= pluralize(@user.errors.count, "error") %> prohibited this story from being saved: </h5>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>
<%= form_for [:admin, @user], html: { multipart: true } do |f| %>
  <div class="row">
    <div class="six columns">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'u-full-width', autofocus: true  %>
    </div>
  </div>

  <div class="row">


    <div class="six columns">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'u-full-width',  autocomplete: false %>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'u-full-width',  autofocus: true %>
    </div>
  </div>
  
  <div class="row">
    <div class="six columns">
      <%= f.label :full_name %>
      <%= f.text_field :full_name, class: 'u-full-width' %>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <%= f.label :website %>
      <%= f.text_field :website, class: 'u-full-width' %>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <%= f.label :occupation %>
      <%= f.text_field :occupation, class: 'u-full-width' %>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
    </div>
  </div>
  <%= f.submit "Create User" %>
<% end %>
