<div class="row">
  <div class="four columns">
    <%= image_tag @user.avatar.url(:thumb), class: "avatar"%>
  </div>
  <div class="five columns">
    <h4><%= @user.full_name %></h4>

    Website: <%= @user.website %><br>
    Occupation:<%= @user.occupation %>
  </div>
  <%= link_to "Manage Account", edit_user_registration_path(@user), class: "button" %>
  <%= link_to "Edit", admin_edit_user_extras_path(@user), class: "button" %>
  <%= link_to "Add Social Account", new_admin_social_link_path, class: "button" %>
</div>
<br>
<% if @user.social_links.any? %>
<div class="row sub-head">
  <h5>Social Accounts</h5>
</div>
<table>
  <thead>
    <th>Type</th>
    <th>Link</th>
    <th>Manage</th>
  </thead>
  <tbody>
    <% @user.social_links.each do |social_link| %>
    <tr>
      <td style="text-transform: uppercase;">
        <%= social_link.account_type %>
      </td>
      <td>
        <%= social_link.url %>
      </td>
      <td>
        <% if can? :update, social_link %>
          <%= link_to "Edit", edit_admin_social_link_path(social_link), class: "button button-primary orange action" %>
        <% end %>
        <% if can? :destroy, social_link %>
          <%= link_to "Delete", admin_social_link_path(social_link), method: :delete, class: "button button-primary red action" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<div class="row sub-head">
  <h5>Stories</h5>
</div>
<table class="u-full-width">
  <thead>
    <th>NAME</th>
    <th>COLLECTIVE</th>
    <th>ACTIONS</th>
  </thead>
  <tbody>
    <% @user.stories.each do |story| %>
    <tr>
      <td>
        <%= story.title %>
      </td>
      <td>
        <%= link_to story.collective.name, admin_collective_path(story.collective) %>
      </td>
      <td class="actions">
        <%= link_to "View", admin_collective_story_path(story.collective, story), class: "button button-primary action" %>
        <% if can? :update, story %>
          <%= link_to "Edit", edit_admin_collective_story_path(story.collective, story), class: "button button-primary orange action" %>
        <% end %>
        <% if can? :destroy, story %>
          <%= link_to "Delete", admin_collective_story_path(story.collective, story), method: :delete, class: "button button-primary red action" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
