@import url('https://fonts.googleapis.com/css?family=Lato:400,300');
$font-family: 'Lato', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
*, h1, h2, h3, h4, h5, h6  {
  font-family: $font-family;
  letter-spacing: 0.1rem;
}
input[type="date"]{
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
