<!DOCTYPE html>
<html>
<head>
  <title>Ontold Admin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar">
      <div class="container">
        <ul class="navbar-list row">
          <a href="/admin/collectives"><img class='logo-dash' src="/img/logo-dash.png" alt="logo" /></a>
          <% if user_signed_in? %>
            <li class="navbar-item two columns">
                <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "navbar-link" %>
            </li>
            <li class="navbar-item two columns">
                <%= link_to "Account", admin_user_mine_path, class: "navbar-link" %>
            </li>
            <% if can? :create, User %>
            <li class="navbar-item two columns">
                <%= link_to "Users", admin_users_path, class: "navbar-link" %>
            </li>
            <% end %>
            <li class="navbar-item two columns">
              <%= link_to "Collectives", admin_collectives_path, class: "navbar-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>

</body>
</html>
