<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> Ontold | Africa, Curated. </title>
    <link rel="shortcut icon" href="/assets/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/fonts/Bandera.css" />
    <link rel="stylesheet" type="text/css" href="/assets/fonts/MaterialDesign-Webfont-master/css/materialdesignicons.css" />
    <link rel="stylesheet" type="text/css" href="/assets/fonts/ionicons-2.0.1/ionicons-2.0.1/css/ionicons.css" />
    <link rel="stylesheet" type="text/css" href="/assets/fonts/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/custom.css" />
    <script src="/assets/js/modernizr.custom.js"></script>
    <script src="/assets/js/modernizr.min.js"></script>
    <script src="/assets/js/modernizr.js"></script>
  </head>
  <body class="fade-in one">
    <header class="cd-header">
        <div id="cd-logo">
          <a href="/"><img style="width:150px;" src="/assets/img/cd-logo.svg" alt="Logo"></a>
        </div>
        <nav class="cd-main-nav">
        		<ul>
        			<li>
                <%= link_to 'Home', index_home_path %>
              </li>
        			<li>
                <%= link_to 'Collectives', collectives_path %>
              </li>
              <li>
                <%= link_to 'About', about_page_path %>
              </li>
              <li>
                <%= link_to 'Contact', contact_page_path %>
              </li>
          	</ul>
        </nav>
    </header>
    <%= yield %>
    <% unless (current_page?('/about') || current_page?('/contact')) %>
    <section class="payges-white-bg">
      <p class="payges-hello">There's more where that came from.</p>
      <p class="payges-hello-sm">Discover the best of African content on Ontold, curated by our tastemakers.</p>
      <button style="text-align:center;" class="payges-button"> <%= link_to 'SEE ALL EDITIONS ', collectives_path %> <span class="ion-android-arrow-forward"></span></button>
      <p class="folol"> follow the wave</p>
      <p class="social-sec">
        <a class="mdi-twitter socialsm" href="#"></a>
        <a class="mdi-facebook socialsm"href="#"></a>
        <a class="mdi-tumblr socialsm" href="#"></a>
        <a class="mdi-pinterest socialsm"href="#"></a>
        <a class="ion-social-instagram socialsm-last" href="#"></a>
      </p>
    </section>
    <% end %>
    <div class="md-overlay"></div>
    <script src="/assets/js/classie.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/modalEffects.js"></script>
  </body>
</html>
